body{
    background-color: white;
    
    
}

.container{
    width:80%;
    margin:5% auto 5% auto;
    padding: 2%;
    background-color: white;
    border:30px solid rgb(189,195,199);
}

h3:nth-child(1){
    margin-top: 0;
}

h3{
    color:rgb(98,175,227);
    letter-spacing: 3px;
    font-family: "Century Gothic";
}

h1{
    color:rgb(44,62,80);
    font-family: sans-serif;
}

p:nth-child(3),p:nth-child(9){
    padding-left: 5px;
    border-left:5px solid rgb(189,195,199);
}
hr{
    color:rgb(240,240,240);
    opacity: 0.5;
}

p{
    font-family: sans-serif;
}
