@font-face {
    font-family: gothicModern;
    src: url(../fonts/effectivepower.otf);

    
}

@font-face {
    font-family: polya;
    src: url(../fonts/polya.otf);

}

@font-face {
    font-family: aqua;
    src: url(../fonts/aqua.ttf);

    
}



#initialsLogo{
    font-family: gothicModern,Helvetica , sans-serif;
    font-size:2em;
}


#welcomeTitle{
    font-family: polya, Helvetica,sans-serif;
    font-size: 5em;   
}

#imgheader{
    background-color: #ecf0f1;
    color: #435a6b;
    padding:2% 4%;
    margin-bottom: 1%;
}


.navbar{
    background-color: #435a6b;
    
}
.navbar-default .navbar-nav>li>a{
    color:white;
}

.navbar-default .navbar-brand {
    color: white;
}

section img {
  margin:2%;
  width: 100%;
}


figcaption{
    color:#435a6b;
    font-size: 1.5em;
    font-weight: bold;
}


li:hover{
    color:green;

}

img{
    transition: .5s ease;
    backface-visibility: hidden;
}

.description {
  font-family: aqua,sans-serif;
  font-size: 1.2em;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


.projectImg:hover img {
  opacity: 0.3;
}

.projectImg:hover .description {
  opacity: 1;
}
    


#gitHubLink:hover,#linkedInLink:hover,#resumeLink:hover,#initialsLogo:hover{
    color: white;
}

#initialsLogo, #gitHubLink, #linkedInLink,#resumeLink:visited{
    color: white;
    
}

#gitHubLink, #linkedInLink,#resumeLink, .projectTitle{
    font-family: aqua,Helvetica,sans-serif;
    text-transform: uppercase;
}



/*prjoect titles*/

.projectTitle a{
    color:#435a6b;
}


.projectTitle a:hover{
    color:#435a6b;
    text-decoration: none;
}

.projectTitle a:focus{
    color:#435a6b;
    text-decoration: none;
}


/* links hover effects*/
.navItem::before,.projectTitle::before,
.navItem::after,.projectTitle::after{
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navItem::before,.projectTitle::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.navItem::after,.projectTitle::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navItem:hover::before,.projectTitle:hover::before,
.navItem:hover::after,.projectTitle:hover::after{
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}



.navbar-default .navbar-toggle .icon-bar{
    background-color:white;
}