/*Arthur Albegov
1/28/17*/

body{
    color:#000000;
    background-color: #d6f1c1;
}

#outerwrapper{
    
    width: 80%;
    margin: 0 auto 0 auto;
}

header, nav, footer{
    
    font-family: Calibri, Arial, sans-serif;
}

#main{
    font-family: Garamond,"Times New Roman", serif;
    background-color: #f0f9e6;
    padding:10px;
}

footer{
    font-size: 0.75em;
    text-align: center;
}

img{
    float: left;
}

nav{
    clear:both;
}
.addrightmargin{
    
    margin-right: 2%;
}
